<div class="contact-form">
	<div class="container">
		<div class="section-title">
			<h2>Contact About Awesomeness</h2>
			<div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		</div>
		<form action="" method="">
			<div class="input-group">
				<label>Your name</label>
				<input type="text" placeholder="Please enter your name" name="username" required>
				<div class="helper-message"></div>
			</div>
			<div class="input-group">
				<label>Your Telephone Number</label>
				<input type="text" placeholder="Please enter your phone" name="phone" required>
				<div class="helper-message"></div>
			</div>
			<div class="input-group">
				<label>Your Email</label>
				<input type="email" name="email" placeholder="Please enter your email" required>
				<div class="helper-message"></div>
			</div>
			<div class="input-group">
				<label>Your Message</label>
				<textarea name="message" placeholder="Your message" required></textarea>
				<div class="helper-message"></div>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-secondary">Submit</button>
			</div>
		</form>
	</div>
</div>
