<div class="contact-form">
	<div class="container">
		<div class="section-title">
			<h2>Contact About Awesomeness</h2>
			<div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		</div>
		<form action="" method="">
			<div class="input-group">
				<label>Your name</label>
				<input type="text" placeholder="Please enter your name" required="">
			</div>
			<div class="input-group">
				<label>Your Telephone Number</label>
				<input type="text" placeholder="Please enter your phone" required="">
			</div>
			<div class="input-group">
				<label>Your Telephone Email</label>
				<input type="email" class="error" placeholder="Please enter your email" required="">
				<div class="helper-message error">Error: Please enter a valid email</div>
			</div>
			<div class="input-group">
				<label>Your Message</label>
				<textarea class="" required="" placeholder="Your message"></textarea>
				<div class="helper-message">Please enter as much detail as possible</div>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-secondary">Submit</button>
			</div>
		</form>
	</div>
</div>
