.services {
	padding: 40px 0;

	[class^="col-"] + [class^="col-"] {
		margin-top: 30px;
	}

	.item {
		text-align: center;

		img {
			display: block;
			margin: 0 auto 10px;
			width: 150px; 
			height: 150px;
		}

		.title {
			font-size: 24px;
		  	font-weight: 500;
		  	line-height: 1.5;
		  	color: $darkgrey;
		  	margin: 0 0 8px;
		}

		.desc {
			font-size: 18px;
  			font-weight: 300;
  			line-height: 1.5;
  			max-width: 400px;
  			margin: 0 auto;
		}
	}
}
@media screen and (min-width: $desktopmq) {
	.services {
		padding: 100px 0;
		[class^="col-"] + [class^="col-"] {
			margin-top: 0;
		}
		.item {
			.title {
				font-size: 28px;
			}
			.desc {
				font-size: 20px;
			}
		}
		
	}
}