.testimonials {
	.outer {
		border-top: 2px solid #eee;
		border-bottom: 2px solid #eee;
		padding: 30px 0;
	}
	.inner {
		position: relative;
		padding-left: 48px;

		&::before {
			content: '';
			display: block;
			width: 30px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 5px;
			background: url(/img/homepage/speach-marks.svg) no-repeat center center;
			background-size: 30px;
		}
	}

	.text {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 10px;
		color: $darkgrey;
	}

	.from {
		font-size: 18px;
  		line-height: 1.67;
	}
}
@media screen and (min-width: $lgdesktopmq) {
	.testimonials {
		.outer {
			padding: 60px 0;
		}
		.inner {
			padding-left: 186px;

			&::before {
				width: 50px;
				height: 33px;
				background: url(/img/homepage/speach-marks.svg) no-repeat center center;
				background-size: cover;
				left: 90px;
			}
		}
		.text {
			font-size: 28px;
			margin: 0 0 20px;
		}
	}
}