.footer {
	padding: 35px 0;
	background: $secondary;

	.copy {
		font-size: 20px;
		line-height: 1.5;
		color: #eeeeee;

		span {
			color: $primary
		}
	}
}
@media screen and (max-width:$lgdesktopmq - 1) {
	.footer {
		text-align: center;
		padding: 40px 0;

		.container {
			flex-wrap: wrap;
		}

		img {
			display: block;
			margin: 0 auto 40px;
		}

		.copy {
			order: 2;
			width: 100%;
			font-size: 18px;
		}
	}
}