// header
.header {
	padding: 20px 0;

	&__nav {
		li + li {
			margin-left: 30px;
		}
		a {
			font-size: 18px;
			line-height: 50px; 
			color: $darkgrey;
		}
		li.active {
			a {
				display: block;
				background: $primary;
				color: #fff;
				font-size: 16px;
				line-height: 50px; 
				padding: 0 32px; 
				border-radius: 6px;
			} 
		}
	} 
}
@media screen and (max-width:$desktopmq - 1) {
	.header {
		&__nav {
			display: none !important;
		}
		&__logo {
			img {
				height: 50px;
			}
		}
	}
}

// nav-button
#nav-button {
	display: none;
}
@media screen and (max-width:$desktopmq - 1) {
	#nav-button {
		display: block;
		width: 32px;
		height: 32px;
		background: url(../img/menu/menu-open.svg) no-repeat center center;
		background-size: 32px;

		&.active {
			background: url(../img/menu/menu-close.svg) no-repeat center center;
			background-size: 32px;
		}
	}
}