/////////////////////////////////////////////////////////
// Home Page: /                                        //
/////////////////////////////////////////////////////////

// intro
.home-intro { 
	padding-top: 20px; 

	.main-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
} 
@media screen and (min-width: $lgdesktopmq) {
	.home-intro {
		padding-top: 80px;
	}
}

// call-to-action
.home-call-to-action {
	background: $primary;
	padding: 30px 0;
	color: #fff;
	text-align: center;

	.text-box {
		font-size: 24px;
		font-weight: 500;
		line-height: 1.5;
		margin: 0 0 20px;
	}

	.btn {
		flex-shrink: 0;
		width: 100%;
	}
}
@media screen and (min-width: $tabletmq) {
	.home-call-to-action {
		.btn {
			width: auto;
		}
	}
}
@media screen and (min-width: $desktopmq) {
	.home-call-to-action {
		text-align: left;
		padding: 40px 0;
		.text-box {
			font-size: 28px;
			margin: 0;
			width: 100%;
			padding-right: 30px;
		}
	}
}
