/////////////////////////////////////////////////////////
// Home Page: /                                        //
/////////////////////////////////////////////////////////

// intro
.home-intro { 
	padding-top: 80px; 

	.main-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
} 
@media screen and (max-width:$lgdesktopmq - 1) {
	.home-intro {
		padding-top: 20px;
	}
}

// redline
.home-redline {
	background: $primary;
	padding: 40px 0;
	color: #fff;

	.text-box {
		font-size: 28px;
		font-weight: 500;
		line-height: 1.5;
		padding-right: 30px;
	}

	.btn {
		flex-shrink: 0; 
	}
}
@media screen and (max-width:$lgdesktopmq - 1) {
	.home-redline {
		text-align: center;
		padding: 30px 0;

		.text-box {
			font-size: 24px;
			margin: 0 0 20px;
			width: 100%;
			padding-right: 0;
		}
	}
}
@media screen and (max-width:$tabletmq - 1) {
	.home-redline {
		.btn {
			width: 100%;
		}
	}
}